/*Header*/
.headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social {
    display: flex;
    gap: 10px;
    flex: 1;
}

.links {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
    font-size: 20px;
}

.log {
    flex: 1;
    text-align: center;
}

/*Footer*/