/*Header*/
.headerWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.social {
    display: flex;
    gap: 10px;
    flex: 1;
}

.links {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
    font-size: 20px;
}

.log {
    flex: 1;
    text-align: center;
}

.themeBtnWrap {
    width: 40px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: relative;

}

.themeBtnWrap .ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 1px;
}


/*Footer*/